.listview-title {
  :hover {
    text-decoration: underline !important;
    color: #3d94fb !important;
    z-index: 1;
  }
}

.listview-field {
  margin-left: 120px;
}

.listview-time {
  float: right;
  margin-right: 12px;
}
